:root {
    --base: #FFE066;
    --spacing: 10px;
    --blur: 1px;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

body {
    text-align: center;
    background-color: #23395B;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
}

.h1 {
    color: var(--base);
}
